{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fas fa-bars"></i> navigation</a>
</span>

{{if .Site.Home.Content }} 
{{.Site.Home.Content}}	
{{else}}           
	{{if eq .Site.Language.Lang "es"}}
		<h1>Hacklab uni popular</h1>
		<img src="https://avatars.mds.yandex.net/i?id=535f5b3d8b52da448d603e7e755c4637-5232192-images-thumbs&n=13" alt="HackLab">

		<h2>¿Quiénes somos?</h2>
		<p>
			Un grupo de personas que nos juntamos para formar un espacio interdisciplinar de aprendizaje cooperativo y cacharreo tecnológico utilizando software libre.
		</p>

		<h2>¿Cómo encontrarnos?</h2>
		<p>
			Todos los miércoles de 17h a 21h en la <a href="https://www.openstreetmap.org/node/3428424927">Ferroviaria (Plaza Luca de Tena, 7)</a> 
		</p>
    
		<ul>
			<li><b>¡Únete al grupo de bienvenida! </b> En <a href="https://t.me/+y3R7_1W64BRmMzBk">Telegram</a> o <a href="https://matrix.to/#/#hacklab-unipop:matrix.org">Matrix</a></li>
		</ul>
	{{else}}
		<h1>Hacklab uni popular</h1>
		<p>
			Interdisciplinary space for cooperative learning and technological "cacharreo" using free software.
		</p>
		<ul>
			<li><b>Welcome group: </b> <a href="https://t.me/+y3R7_1W64BRmMzBk">Telegram</a> o <a href="https://matrix.to/#/#hacklab-unipop:matrix.org">Matrix</a></li>
		</ul>
	{{end}}
{{ end }}  
{{ partial "footer.html" . }}
